/* DesignForTouch.io 14.04.23 @lilyxue */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, th, td, em, form, input,select, textarea, button, header, nav, menu, section, aside, footer { margin: 0; padding: 0; }
body { background: #fff; font-size: 24px; font-family: Helvetica, 'Lato', Calibri, Arial, sans-serif; -webkit-text-size-adjust: none; color: rgba(0,0,0,0.8); }
html, body { height: 100%; }
ul, li { list-style: none; }
a { color: #09f; text-decoration: none; -webkit-tap-highlight-color: rgba(0,0,0,0); }

input, select, textarea, button { -moz-appearance: none; -webkit-appearance: none; border: none; }

.wrap { max-width: 960px; margin: 0 auto; padding: 0 8%; }

header { position: fixed; left: 0; top: -60px; width: 100%; height: 60px; line-height: 60px; background: rgba(0,0,0,0.7); font-size: 18px; z-index: 99; transition: all ease 200ms; }
header a { color: #fff; }
header .fa:before { font-size: 24px; }
header.shown { top: 0 }
.header-contact { float: right; }
.header-contact a { padding: 0 10px; }
.banner { position: relative; width: 100%; height: 450px; background: #383838 url(../images/banner.png) center center no-repeat; background-size: contain;
	transition: height ease-in 200ms;
}
.banner:after { position: absolute; content: ""; left: 0; bottom: -12px; width: 100%; height: 6px; background-color: #f4a432;
	background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(0.25, #2a99dd), color-stop(0.25, #e057ef), color-stop(0.5, #e057ef), color-stop(0.5, #f4a432), color-stop(0.75, #f4a432), color-stop(0.75, #9ed841));
	background-image: -webkit-linear-gradient(left, #2a99dd 25%, #e057ef 25%, #e057ef 50%, #f4a432 50%, #f4a432 75%, #9ed841 75%);
	background-image: -moz-linear-gradient(left, #2a99dd 25%, #e057ef 25%, #e057ef 50%, #f4a432 50%, #f4a432 75%, #9ed841 75%);
	background-image: linear-gradient(left, #2a99dd 25%, #e057ef 25%, #e057ef 50%, #f4a432 50%, #f4a432 75%, #9ed841 75%);
}
.banner .logo { position: absolute; left: 0; top: 34px; width: 180px; height: 170px; background: url(../images/banner-logo.png) no-repeat; }
.banner .date { position: absolute; right: 0; bottom: 126px; width: 382px; height: 96px; padding: 32px 0 0 60px; background: url(../images/banner-date.png) no-repeat; font-style: italic; font-weight: 100; color: #4d4d4d; }
.banner .subtitle { position: absolute; left: 24px; bottom: 0; width: 202px; height: 70px; padding-left: 52px; background: url(../images/banner-subtitle.png) no-repeat; font-size: 18px; color: #737373; }
.banner .subtitle .subtitle-sponsor { font-size: 14px; }

.intro { padding: 100px 0; background: #fff; }
.intro .intro-text { position: relative; }
.intro .intro-text:before, .intro .intro-text:after { position: absolute; font-size: 180px; color: #d2dbe2; }
.intro .intro-text:before { content: "“"; left: -80px; top: -60px; }
.intro .intro-text:after { content: "”"; right: -80px; bottom: -140px; }
.intro .intro-text p { padding: 10px 0; line-height: 1.5; font-size: 20px; font-weight: 100; }
.intro .link-ticket { text-align: center; }
.intro .link-ticket a { display: inline-block; margin-top: 1em; padding: .8em 2.4em; background: #ff6f0f; border-radius: 5px; font-size: 36px; color: #fff; }
.intro .link-ticket .invalid { background: #aaa; font-size: 20px; cursor: text; }

.schedule { padding: 60px 0; background: #f0f0f0; }
.schedule-list { position: relative; }
.schedule-list:before { position: absolute; content: ""; width: 2px; height: 100%; left: 80px; margin-left: -1px; background: #e5e5ec; }
.schedule-list > li { position: relative; padding-left: 80px; transition: all ease-in 200ms; }
.schedule-list > li:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; *zoom: 1; }
.schedule-list:first-child > li:first-child { padding-top: 0; }
.schedule time { position: relative; float: left; margin-left: -80px; line-height: 32px; font-size: 16px; color: rgba(0,0,0,0.4); }
.schedule time:after { position: absolute; content: ""; width: 22px; height: 22px; margin-left: 24px; border-radius: 50%; background: #2a99dd; border: 5px solid #5db6ed; }
.schedule .agenda, .schedule .speaker { margin-left: 50px; color: rgba(0,0,0,0.75); }
.schedule .agenda { padding-bottom: 60px; line-height: 32px; font-size: 30px; }
.schedule-list > li:last-child .agenda { padding-bottom: 0; }
.schedule .speaker { padding: 0 0 60px 180px; }
.schedule .speaker-avatar { display: inline-block; width: 130px; height: 130px; border-radius: 50%; transition: border-color ease-in 200ms; }
.speaker .speaker-avatar { float: left; margin-left: -180px; }
.speaker .speaker-name { font-size: 32px; font-weight: 300; }
.speaker .speaker-link { font-size: 18px; font-weight: 100; }
.speaker .speaker-title { padding-top: 15px; font-size: 20px; }
.speaker .speaker-keynote { padding-top: 15px; line-height: 1.5; font-size: 14px; font-family: "Proxima Nova Regular","Helvetica Neue",Arial,Helvetica,sans-serif,'Microsoft Yahei'; color: rgba(0,0,0,0.4); }
.ws-tab { position: relative; padding: 100px 0; overflow: hidden; }
.ws-tab:before { position: absolute; content: ""; top: 50%; width: 76%; height: 2px; margin-top: -1px; background: #e5e5ec; }
.ws-tab li { position: relative; float: left; width: 33.3%; text-align: center; }
.ws-tab a { display: inline-block; width: 180px; height: 60px; line-height: 60px; border-radius: 60px; background: #a5b4c6; font-size: 20px; color: #fff; text-align: center; }
.schedule-ws.fe .tab-fe, .schedule-ws.ix .tab-ix, .schedule-ws.ur .tab-ur, .schedule-ws.vd .tab-vd { position: relative; background: #2a99dd; }
.schedule-ws.fe .tab-fe:after, .schedule-ws.ix .tab-ix:after, .schedule-ws.ur .tab-ur:after, .schedule-ws.vd .tab-vd:after { position: absolute; content: "♦"; left: 50%; bottom: -50%; margin-left: -9px; margin-bottom: 2px; font-size: 36px; color: #2a99dd; }
.ws-fe, .ws-ix, .ws-ur, .ws-vd { display: none; transition: all ease-in 100ms; }
.schedule-ws.fe .ws-fe, .schedule-ws.ix .ws-ix, .schedule-ws.ur .ws-ur, .schedule-ws.vd .ws-vd { display: block; }
.schedule-ws .tip { font-size: 16px; color: #f00; }

.map, .map-static { width: 100%; height: 320px; border-top: 2px solid #adadad; border-bottom: 2px solid #adadad; }
.map-static { position: absolute; background: url(../images/zzz-map.png) center center no-repeat; background-size: auto 320px; }

.sponsors { margin: 40px 0; overflow: hidden; }
.sponsors a { float: left; width: 96px; height: 0; overflow: hidden; margin: 0 10px; padding-top: 36px; background: url(../images/un-sponsors.png) no-repeat; background-size: 96px auto; text-align: center; }
.sponsors .sponsor-wxd { background-position: 0 0; }
.sponsors .sponsor-ued { background-position: 0 -40px; }
.sponsors .sponsor-xux { background-position: 0 -80px; }
.sponsors .sponsor-w3cplus { background-position: 0 -120px; }
.sponsors .sponsor-globalmoxie { background-position: 0 -160px; }
.sponsors .sponsor-uicn { background-position: 0 -200px; }
.sponsors .sponsor-uiweek { background-position: 0 -240px; }
.sponsors .sponsor-uxpa { background-position: 0 -280px; }
.sponsors .sponsor-tang { background-position: 0 -320px; }
.sponsors .sponsor-mux { background-position: 0 -360px; }
.sponsors .sponsor-ctrip { background-position: 0 -400px; }
.sponsors .sponsor-tieyou { background-position: 0 -440px; }
.sponsors .sponsor-turing { background-position: 0 -480px; }
.sponsors .sponsor-hzbook { background-position: 0 -520px; }
.sponsors .sponsor-uxwee { background-position: 0 -560px; }
.sponsors .sponsor-visionunion { background-position: 0 -600px; }

footer { padding: 60px 0; background: #f0f0f0; font-size: 16px; font-weight: 100; }
.footer-contact { float: right; }
.footer-contact a { padding: 0 10px; font-size: 20px; color: #000; }

@media (max-width: 1180px) {
	.banner { height: 400px; }
	.banner .date { bottom: 52px; }
}
@media (max-width: 960px) {
	.banner { height: 240px; }
	.banner .logo { top: 0; }
	.banner .date { bottom: 20px; width: 260px; padding-top: 36px; font-size: 16px; }
	.intro .intro-text:before, .intro .intro-text:after { display: none; }
	.schedule .speaker { padding-left: 120px; }
	.speaker .speaker-avatar { width: 100px; height: 100px; margin-left: -120px; }
	.ws-tab { padding: 80px 0; }
	.ws-tab a { width: 160px; }
}
@media (max-width: 768px) {
	.schedule .agenda, .speaker .speaker-name { font-size: 28px; }
	.speaker .speaker-keynote { display: none; }
	.ws-tab { padding: 60px 0; }
	.ws-tab a { width: 120px; font-size: 18px; }
}
@media (max-width: 600px) {
	.ws-tab { padding: 40px 0; }
	.ws-tab a { width: 80px; height: 40px; line-height: 40px; font-size: 14px; }
}
@media (max-width: 480px) {
	.banner { background-image: none; }
	.banner .logo { top: -40px; }
	.intro { padding: 60px 0; }
	.intro .intro-text p { font-size: 16px; }
	.intro .link-ticket a { font-size: 24px; }
	.schedule-list:before { left: 60px; }
	.schedule-list > li { padding-left: 60px; }
	.schedule time { margin-left: -60px; line-height: 26px; font-size: 12px; }
	.schedule time:after { width: 16px; height: 16px; margin-left: 16px; }
	.schedule .agenda, .schedule .speaker { margin-left: 30px; padding: 0 0 30px; }
	.schedule .agenda, .speaker .speaker-name { line-height: 26px; font-size: 24px; }
	.speaker .speaker-avatar { display: none; }
	.speaker .speaker-title { font-size: 16px; }
	.map, .map-static { height: 160px; }
	.map-static { background-size: auto 160px; }
}
@media (max-width: 320px) {
	.schedule .agenda, .schedule .speaker { padding: 0 0 20px; }
	.schedule .agenda, .speaker .speaker-name { font-size: 16px; }
	.speaker .speaker-link { font-size: 14px; }
	.speaker .speaker-title { display: none; }
	.ws-tab { padding: 40px 0; }
	.ws-tab a { width: 64px; height: 40px; line-height: 40px; font-size: 12px; }
	.schedule-ws.fe .tab-fe:after, .schedule-ws.ix .tab-ix:after, .schedule-ws.ur .tab-ur:after, .schedule-ws.vd .tab-vd:after { margin-left: -7px; font-size: 24px; }
}
@media (min-width: 481px) {
	.schedule-list > li { padding-top: 30px; }
	.schedule .speaker, .schedule .speaker-avatar, .ws-ix .speaker:nth-of-type(1), .ws-ix .speaker:nth-of-type(1) .speaker-avatar { margin-top: -30px; }
	.ws-ix .speaker, .ws-ix .speaker-avatar { margin-top: 0; }
}
@media (min-width: 961px) {
	.schedule-list > li { padding-top: 48px; }
	.schedule .speaker, .schedule .speaker-avatar, .ws-ix .speaker:nth-of-type(1), .ws-ix .speaker:nth-of-type(1) .speaker-avatar { margin-top: -48px; }
	.ws-ix .speaker, .ws-ix .speaker-avatar { margin-top: 0; }
}
@media (min-width: 1280px) {
	.ws-ix .speaker, .ws-ix .speaker:nth-of-type(1) { float: left; width: 43%; padding: 0 0 60px; margin-top: 0; }
	.ws-ix .speaker .speaker-avatar { float: none; margin-left: 0; margin-top: 0; }
	.ws-ix .speaker:nth-of-type(2) .speaker-avatar { margin-top: -48px; }
	.ws-ix .speaker .speaker-name { margin-top: 20px; }
}
